#container {
    width: 800px;
    background-color: #58B09C;
    border-radius: 20px;
    margin: 20px 0 20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-bottom: 1px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #0d1b1e url('./images/background.png');
    background-size: contain;
}

#start {
    text-align: center;
    justify-items: center;
    padding: 20px;
}

#start img {
    width: 350px;
}

#start-button {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background: #C81D25;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-button:hover {
    cursor: pointer;
    opacity: 80%;
}

#game-board {
    width: 500px;
    display: none;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    perspective: 1000px;
}

#card.unflipped {
    width: 75px;
    height: 75px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #ccc;
    font-size: 3em;
    border-radius: 10px;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.5s;
    color: transparent;
}

#card:hover {
    cursor: pointer;
    opacity: 80%;
}

#card.flipped {
    width: 75px;
    height: 75px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: 3em;
    border-radius: 10px;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

#card.flipped:hover {
    opacity: 100%;
}

#card.completed {
    width: 75px;
    height: 75px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: rgba(0, 255, 0, 0.673);
    font-size: 3em;
    border-radius: 10px;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

#card.completed:hover {
    opacity: 100%;
}

#card #front, #card #back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#card #back {
    -webkit-transform: rotateY(180deg);
}

#completion {
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#end-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-again {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background: #C81D25;
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-again:hover {
    cursor: pointer;
    opacity: 80%;
}

#in-game {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

#reset-game {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background: #C81D25;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px auto;
}

#reset-game:hover {
    cursor: pointer;
    opacity: 80%;
}

#moves {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px auto;
}